header {
    background-color: gray;
    color: white;
    padding: 2%;
    width: 100%;
    text-align: center;
}

body {
    margin: 0;
}

footer {
    display: flex;
    justify-content: flex-end;
    text-align: end;
}